# Created by .ignore support plugin (hsz.mobi)
.idea/
.gitignore
QI_D_team.iml
misc.xml
modules.xml
vcs.xml
vendor/
your-app/vendor/
log/*
cache/*
app/src/models/
.DS_Store
your-app/.DS_Store
your-app/cache/twig/44/
