<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QI Team D Sign Un Page</title>
  <!-- Core CSS - Include with every page -->
  <link href="/assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
  <link href="/assets/font-awesome//css/font-awesome.css" rel="stylesheet" />
  <link href="/assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
  <link href="/assets//css/style.css" rel="stylesheet" />
  <link href="/assets//css/main-style.css" rel="stylesheet" />

</head>
<script type="text/javascript">
  var count = 0;
  // function Check() {
  //
  //   if (count == 0) {
  //     var div = document.createElement('div');
  //     div.innerHTML = document.getElementById('after_duplicate_check').innerHTML;
  //     document.getElementById('field').appendChild(div);
  //     count = 1;
  //   }
  // }
</script>

<body class="body-Login-back">

  <div class="container">

    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center logo-margin ">
        <img src="/assets/img/logo_new.png" alt="" />
      </div>
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Please Sign Up</h3>
          </div>
          <div class="panel-body">
            <form role="form">
                <div class="form-group">
                  <label>Email address</label></br>
                  <input class="form-control"   placeholder="E-mail" name="email" type="email" autofocus></br>
                  <label >Password</label></br>
                  <input class="form-control" placeholder="Password" name="password" type="password" value=""></br>
                  <div>
                    <label >First Name</label></br>
                    <input class="form-control" placeholder="First Name" name="fname" type="text" value=""></br>
                    <label >Last Name</label></br>
                    <input class="form-control" placeholder="Last Name" name="lname" type="text" value=""></br>
                  </div>

                  <label >Birth Date</label></br>
                  <input class="form-control" placeholder="Birth Date" name="bdate" type="date" value=""></br>
                  <label >Gender</label></br>
                  <input name="gender" type="radio" value="male"> Male
                  <input name="gender" type="radio" value="female"> Female <br />

                      </div>
                <!-- Change this to a button or input when using this as a form -->
                <a href="index.html" class="btn btn-lg btn-success btn-block">Sign up</a>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Core Scripts - Include with every page -->
  <script src="/assets/plugins/jquery-1.10.2.js"></script>
  <script src="/assets/plugins/bootstrap/bootstrap.min.js"></script>
  <script src="/assets/plugins/metisMenu/jquery.metisMenu.js"></script>

</body>

</html>
